/* 
  PROPRIEDADES NOVAS:
  scale - [Altera tamanho de um elemento sem afetar os outros elementos.]
  Uso: usei o scale para quando o mouse passar o mouse em cima da imagem de um integrante ela aumenta um pouco de tamanho.

  max-width - [Ajusta um limite de width para um determinado elemento, ou seja, o elemento não passará o limite do tamanho sugerido no max-width.]
  Uso: utilizei o max-width para limitar a largura do contêiner "info-pessoal" nas páginas dos integrantes.

  transform - [Manipula visualmente um elemento (dimensionar, mover, rotacionar, etc)]
  Uso: o transform foi usado para quando o usuário passar o mouse em cima de uma habilidade ou um item de um site favorito, o elemento da um efeito de subir um pouco.

  z-index - [Sobrepõe um elemento acima dos outros dependendo do número sugerido no z-index, se tiverem mais de um z-index, o z-index com maior valor, vai sobrepor o outro]
  Uso: o z-index foi utilizado no navbar para sobrepor todos os elementos abaixo quando a página é descida pelo usuário enquanto ele navega.

  overflow - [Controla como o conteúdo de um elemento é tratado quando excede as dimensões do contêiner que o contém.]
  Uso: Nos links dos sites favoritos, overflow foi usado nas imagens da logo do site para que toda parte da imagem fora do contêiner, o overflow ("transbordamento") fique escondido

*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Righteous&family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik";
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 10; /* Explicado na linha 12 */
  text-align: center;
  width: 100%;
}

nav span {
  display: inline-block;
  font-size: 2rem;
  font-family: "Righteous";
  color: #0dc8c1;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 1));
  margin: 0.4em 0 0.4em 0;
  letter-spacing: 2px;
}

.navbar-items li {
  display: inline-block;
  list-style: none;
  border-bottom: 5px solid white;
}

.navbar-items li:hover {
  border-bottom: 5px solid #078a85;
  background-color: rgba(7, 138, 134, 0.05);
}

.navbar-items a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1em;
}

#item-ativado {
  border-bottom: 5px solid #078a85;
  background-color: rgba(7, 138, 134, 0.05);
}

main {
  padding: 10em 1em 5em 1em;
  min-height: 100vh;
  background: rgb(9, 75, 131);
  background: linear-gradient(
    323deg,
    rgba(9, 75, 131, 1) 0%,
    rgba(9, 121, 105, 1) 36%,
    rgba(0, 212, 255, 1) 100%
  );
}

main h1 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-family: "Righteous";
  text-align: center;
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.2));
}

p {
  color: white;
}

/* Página inicial */

.secao-integrantes {
  display: flex;
  justify-content: center;
  gap: 5em;
  border-radius: 1em;
  margin-top: 3em;
}

.moldura-integrante {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  color: #fff;
  padding: 2em;
  border-radius: 10px;
  gap: 2em;
  width: 30em;
}

.moldura-integrante {
  line-height: 30px;
}

.moldura-integrante:hover {
  background: rgba(255, 255, 255, 0.1);
}

.moldura-integrante h2 {
  font-size: 2.2rem;
  font-weight: lighter;
}

.foto-integrante {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  transition: all 150ms ease-in-out;
  box-shadow: 5px 10px 20px 5px rgba(0, 0, 0, 0.3);
}

.foto-integrante:hover {
  scale: 1.04; /* Explicado na linha 3 */
}

.ver-perfil-link {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 1em 0 1em 0;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.ver-perfil-link:hover {
  background: #f0f0f0;
}

/* Página dos integrantes */

.info-pessoal {
  display: flex;
  align-items: center;
  color: #fff;
  margin: auto;
  border-radius: 10px;
  max-width: 90em; /* Explicado na linha 6 */
  padding: 2em;
  border: 1px solid #fff;
}

.info-pessoal p {
  line-height: 45px;
}

.info-pessoal li {
  list-style: none;
}

.info-pessoal h2 {
  font-size: 1.75rem;
  font-family: "Righteous";
  margin: auto;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.5));
}

/* Parte da foto e habilidades */

.foto-e-habilidades {
  text-align: center;
  width: 100%;
  margin-right: 5em;
}

.foto-e-habilidades > img {
  margin: 2em 0 2em 0;
}

.foto-e-habilidades li {
  display: flex;
  align-items: center;
  margin-top: 1em;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 40px 10px 10px;
  gap: 10px;
  font-size: 1.25rem;
  transition-duration: 200ms;
  cursor: default;
}

.foto-e-habilidades li:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-4px); /* Explicado na linha 9 */
}

.foto-integrante {
  border-radius: 100%;
}

/* Sobre mim */

.sobre-mim {
  border: 1px solid #FFF;
  padding: 2em;
  border-radius: 50px 0;
}

/* Tabela de curiosidades */

table {
  margin: auto;
  margin-top: 2em;
  border-collapse: collapse;
  font-size: 1.25rem;
  color: #fff;
}

table {
  border: 1px solid #fff;
}

thead th {
  background-color: #fff;
  border-right: 1px solid #000;
  font-weight: lighter;
  font-size: 1.25rem;
  color: #000;
  font-family: "Righteous";
  padding: 0.8em 0 0.8em 0;
}

tbody th {
  border: 1px solid #fff;
  padding: 0 2em 0 2em;
  font-family: "Righteous";
  font-weight: lighter;
  background: rgba(255, 255, 255, 0.2);
}

tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.15);
}

tr:hover {
  background: rgba(0, 0, 0, 0.05);
}

td {
  padding: 1em 10em 1em 1em;
  border: 1px solid #fff;
}

/* Sites favoritos */

.secao-favoritos {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  gap: 4em;
}

.sites-favoritos {
  border: 1px solid #fff;
  padding: 1.5em;
  border-radius: 10px;
  font-size: 1.25rem;
  width: 20em;
}

.sites-favoritos h2 {
  text-align: center;
  font-family: "Righteous";
  color: #fff;
  font-weight: lighter;
  margin-bottom: 1em;
}

.sites-favoritos ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sites-favoritos li {
  list-style: none;
}

.sites-favoritos a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 0.6em;
  overflow: hidden; /* Explicado na linha 15 */
  transition-duration: 200ms;
}

.sites-favoritos a img {
  position: absolute;
  top: -15px;
  right: -10px;
  width: 80px;
  opacity: 0.2;
}

.sites-favoritos a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px); /* Explicado na linha 9 */
}

/* Contato */

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em !important;
  width: 50%;
  margin: auto;
}

input,
button,
textarea {
  outline: none;
  color: #fff;
  font-size: 1.25rem;
}

label {
  color: #fff;
}

div > label {
  color: #000;
  background: #fff;
  align-self: start;
  padding: 5px;
  border-radius: 1em 1em 1em 0;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

.input-form {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
}

.input-form input,
textarea {
  padding: 0.5em;
  background: transparent;
  border: 1px solid #fff;
}

.input-form input::placeholder,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.467);
}

fieldset {
}

#enviar-button {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  align-self: start;
  border: 1px solid #fff;
  padding: 0.5em 2em;
  cursor: pointer;
}

#enviar-button:hover {
  background: #f0f0f0;
}

/* Rodapé  */

footer {
  background-color: rgb(236, 248, 255);
  padding: 5em 0 5em 0;
  text-align: center;
}

footer span {
  font-size: 1.25rem;
}
